extends ../layout

block content
  if events.length == 0
    p There's no shoes in our database at the moment
  else
    each event in events
      p #{event.title}
      p #{event.description}
      p #{event.date}
    p #{velibs}


    div#map-canvas
    div#infos
