extends ../layout

block content

  if ads.length == 0
    p There's no shoes in our database at the moment
  else
  .container
    .row
      .col-md-12
        div#map-canvas
        
        div#addresses
            each ad in ads
                input(type='hidden', value=ad.shoes.location)