extends layout

block content

  .container
    .row
      .col-md-12
        #adv-search.input-group
          input.form-control(type='text', placeholder='Search shoes')
          .input-group-btn
            .btn-group(role='group')
              .dropdown.dropdown-lg
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Refine my search
                .dropdown-menu.dropdown-menu-right(role='menu')
                  form.form-horizontal(role='form')
                    .form-group
                      label(for='brands') Brand
                      select.form-control
                        option(value='0', name="brands", selected='') All brands
                        option(name="brands", value='1') DB BRAND
                    .form-group
                      elabel(for='filter') Color
                      select.form-control
                        option(value='0', name="color", selected='') All colors
                        option(name="brands", value='1') DB COLORS
                    .form-group
                      label(for='gender') Gender
                      input(type='radio', name='gender', value='male')
                      |  Male
                      input(type='radio', name='gender', value='female')
                      |  Female
                      input(type='radio', name='gender', value='other', checked)
                      |  Both
                    .form-group
                      label(for='contain') Price between
                      input.form-control(type='number' min = "0")
                    .form-group
                      label(for='contain') Size
                      input.form-control(type='number' min = "0")
                    button.btn.btn-primary(type='submit')
                      <i class="fa fa-search" aria-hidden="true"></i>
                button.btn.btn-primary(type='submit')
                  <i class="fa fa-search" aria-hidden="true"></i>
    h3 Derniers ajouts
    if ads.length == 0
      p There is no ads bro, but you can place the first ad :)
    else
    each ad in ads
      .page-header
      - var date = new Date
        a(href='/ad/'+ad._id)
          h3 #{ad.title}
      if(ad.createdAt.getDay() == date.getDay())
        p Today, #{ad.createdAt.getHours()}:#{ad.createdAt.getMinutes()}
      else
        p #{ad.createdAt.toLocaleDateString()}
